/* styles/Hero.module.css */

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem;
  background-color: #0d0d0d;
  background-image: radial-gradient(circle, #3a3a3a, #1a1a1a, #0d0d0d);
  border: 1px solid #0ff;
  box-shadow: 0 0 5px #0ff, 0 0 10px #0ff;
  margin-bottom: 2rem;
}

.text {
  flex: 1;
  padding-right: 2rem;
}

.image {
  border: 1px solid #0ff;
  box-shadow: 0 0 5px #0ff, 0 0 10px #0ff;
  border-radius: 5px;
}
