@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes click {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.animate-click {
  animation: click 0.3s ease-out;
}